body {
  font-family: "Arial", "Helvetica", "sans-serif";
}

header {
  z-index: 10001 !important;
}

.btn-primary {
  @apply px-7 py-2 bg-brandPrimary text-white rounded hover:bg-neutralDGrey transition-all duration-300 hover:-translate-y-4;
}
.circle-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
}

.circle-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: blue;
  border-top: 0.1rem solid currentColor;
  border-right: 0.1rem solid currentColor;
  transform: translate(-50%,-50%) rotate(45deg);
}